<style>
    .carousel-item img {
        max-height: 500px; 
        object-fit: cover; 
    }
</style>

<div class="container">
    <img src="https://sslimages.shoppersstop.com/sys-master/root/hc9/hee/31900062154782/Eoss-sale-strip-web_Eoss-24.jpg" class="w-100 mb-5">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://sslimages.shoppersstop.com/sys-master/root/h30/h22/31860148142110/Juniper-web_10282.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://sslimages.shoppersstop.com/sys-master/root/h44/ha2/31803911798814/Women-Western_top-banner-web_0812024.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="            https://sslimages.shoppersstop.com/sys-master/root/h88/hf2/31900062285854/static_1840x600--web_Eoss-24.jpg
                " class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://sslimages.shoppersstop.com/sys-master/root/hae/hc3/31745848901662/top-banner-web_0612024.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
